<a href="https://colab.research.google.com/github/robitussin/CCDATSCL_EXERCISES/blob/main/Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In this activity, you will work with the New York City Airbnb Open Data—a popular, messy, and highly realistic dataset used by data analysts and data scientists around the world. The dataset includes thousands of Airbnb listings along with details about hosts, locations, prices, reviews, and more.

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Pmq3Gv7y7z_2Xun-OqMIk43kd5u0TXEatw&s"/>


To guide your work, you will follow the 6-Step Data Wrangling Process, a professional workflow used in industry:

- Discovering. Become familiar with the data by exploring its structure and observing patterns.

- Structuring. Fix issues related to format, column types, indices, and duplicated records.

- Cleaning. Handle missing values, outliers, and inconsistencies so the dataset becomes trustworthy.

- Enriching. Add new features, aggregate information, and enhance the dataset for deeper insights.

- Validating. Apply rule-based checks to ensure the data meets quality standards.

- Publishing. Export and prepare the cleaned dataset for downstream analysis or reporting.
Throughout this exercise, you will answer questions and fill in code cells based on these six steps. You will mimic what professional data scientists do when preparing data for business intelligence dashboards, machine learning models, or exploratory analysis.

In [ ]:
import kagglehub
import os
import pandas as pd
import numpy as np

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

if os.path.isdir(path):
  print(True)

contents = os.listdir(path)
contents

mydataset = path + "/" + contents[0]
mydataset


df = pd.read_csv(mydataset)

Using Colab cache for faster access to the 'new-york-city-airbnb-open-data' dataset.
Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data
True

## A. Discovering

Display the first 10 rows

In [ ]:
df.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

Display the column names:

In [ ]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

Display the dataframe shape:

In [ ]:
df.shape

(48895, 16)

Identify the numerical features:

In [ ]:
print(df.select_dtypes(include=['number']).columns)

Index(['id', 'host_id', 'latitude', 'longitude', 'price', 'minimum_nights',
       'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

Identify the categorical features

In [ ]:
print(df.select_dtypes(exclude=['number']).columns)

Index(['name', 'host_name', 'neighbourhood_group', 'neighbourhood',
       'room_type', 'last_review'],
      dtype='object')

What are the top 5 questions this dataset might help answer?

In [ ]:
print("""
1. Which neighborhood has the most bookings?
2. Which listing has the highest number of reviews?
3. How do prices differ per neighborhood?
4. Which neighborhood has the highest average price?
5. What room type is most common in the airbnb listings?
""")

1. Which neighborhood has the most bookings?
2. Which listing has the highest number of reviews?
3. How do prices differ per neighborhood?
4. Which neighborhood has the highest average price?
5. What room type is most common in the airbnb listings?

## B. Structuring

Check if the dataset has proper column types

In [ ]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

Check if the dataset has index issues

In [ ]:
df.index.is_unique

True

Check if the dataset has duplicated rows

In [ ]:
df.duplicated().sum()

np.int64(0)

Convert columns to correct types (e.g., dates → datetime).

In [ ]:
df['last_review'] = pd.to_datetime(df['last_review'])

In [ ]:
df['last_review'].dtypes

dtype('<M8[ns]')

Identify at least one structural issue and describe how to fix it.

In [ ]:
print("""
the last_review data type was first an object and then converted to a datetime data type.
""")

the last_review data type was first an object and then converted to a datetime data type.

## C. Cleaning

Check for missing values

In [ ]:
df.isna().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Check for outliers in `minimum_nights`

In [ ]:
df['minimum_nights'].describe()

count    48895.000000
mean         7.029962
std         20.510550
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64

Check for invalid values (e.g., price ≤ 0)

In [ ]:
price_invalid = (df['price'] <= 0).sum()
min_nights_invalid = (df['minimum_nights'] < 1).sum()
num_reviews_invalid = (df['number_of_reviews'] < 0).sum()
availability_365_invalid = (df['availability_365'] < 0).sum()

print(f"Invalid values: price: {price_invalid}, minimum_nights: {min_nights_invalid} number_of_reviews: {num_reviews_invalid}, availability_365: {availability_365_invalid}")

Invalid values: price: 11, minimum_nights: 0 number_of_reviews: 0, availability_365: 0

Apply a missing-value strategy (drop, fill, or flag)

In [ ]:
# for price:
df = df[df['price'].notna()]
df = df[df['price'] > 0]

In [ ]:
price_invalid = (df['price'] <= 0).sum()
price_invalid

np.int64(0)

In [ ]:
# for name:
df['name'] = df['name'].fillna('Unknown Listing')

# for host_name:
df['host_name'] = df['host_name'].fillna('Unknown Host')

# for reviews_per_month:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

# for last_reviews:
# Flag missing reviews
df['last_review_missing'] = df['last_review'].isna().astype(int)

# Fill missing with a placeholder date (optional)
df['last_review'] = df['last_review'].fillna(pd.Timestamp('1900-01-01'))


df.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
last_review_missing               0
dtype: int64

Apply an outlier-handling strategy

In [ ]:
Q1 = df['minimum_nights'].quantile(0.25)
Q3 = df['minimum_nights'].quantile(0.75)
IQR = Q3 - Q1

# Define outlier threshold
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

outliers = df[(df['minimum_nights'] < lower_bound) | (df['minimum_nights'] > upper_bound)]
print("Number of outliers:", len(outliers))

outliers['minimum_nights'].describe()
print(outliers['minimum_nights'].value_counts().sort_index())

# result shows too much stay for nights in an airbnb

Number of outliers: 6605
minimum_nights
12       91
13       54
14      562
15      279
16       18
       ...
480       1
500       5
999       3
1000      1
1250      1
Name: count, Length: 98, dtype: int64

In [ ]:
df['min_nights_outlier'] = (df['minimum_nights'] > upper_bound).astype(int)

In [ ]:
df = df[df['minimum_nights'] <= 30]

In [ ]:
df['minimum_nights'].describe()

count    48137.000000
mean         5.579284
std          8.203124
min          1.000000
25%          1.000000
50%          2.000000
75%          5.000000
max         30.000000
Name: minimum_nights, dtype: float64

## D. Enriching

Create at least 3 new variables:
- price_per_minimum_night
- review_rate_per_month (combine ratings + frequency)
- is_expensive (boolean flag based on price threshold)

In [ ]:
df.dtypes

id                                         int64
name                                      object
host_id                                    int64
host_name                                 object
neighbourhood_group                       object
neighbourhood                             object
latitude                                 float64
longitude                                float64
room_type                                 object
price                                      int64
minimum_nights                             int64
number_of_reviews                          int64
last_review                       datetime64[ns]
reviews_per_month                        float64
calculated_host_listings_count             int64
availability_365                           int64
last_review_missing                        int64
min_nights_outlier                         int64
dtype: object

In [ ]:
# price_per_minimum_night:
df['price_per_minimum_night'] = df['price'] / df['minimum_nights']

# review_rate_per_month (combine ratings + frequency):
df['review_rate_per_month'] = df['reviews_per_month']

# is_expensive (boolean flag based on price threshold):
price_threshold = 200
df['is_expensive'] = (df['price'] > price_threshold).astype(int)

df[['price', 'minimum_nights', 'price_per_minimum_night',
    'reviews_per_month', 'review_rate_per_month', 'is_expensive']].head()

,price,minimum_nights,price_per_minimum_night,reviews_per_month,review_rate_per_month,is_expensive
0,149,1,149.0,0.21,0.21,0
1,225,1,225.0,0.38,0.38,1
2,150,3,50.0,0.00,0.00,0
3,89,1,89.0,4.64,4.64,0
4,80,10,8.0,0.10,0.10,0

Create 1 aggregated summary table

(e.g. average price per neighborhood number of hosts per borough)

In [ ]:
# Aggregated summary table
summary = df.groupby('neighbourhood_group').agg(
    avg_price=('price', 'mean'),                 # avg price per borough
    median_price=('price', 'median'),            # median price borough
    total_listings=('id', 'count'),              # total number of listings
    avg_min_nights=('minimum_nights', 'mean'),   # avg minimum nights
    avg_reviews_per_month=('reviews_per_month', 'mean'), # Average review frequency
    num_expensive=('is_expensive', 'sum')        # Number of expensive listings
).reset_index()

# Round numeric values for readability
summary = summary.round({
    'avg_price': 2,
    'median_price': 2,
    'avg_min_nights': 1,
    'avg_reviews_per_month': 2
})

# Show summary table
summary

,neighbourhood_group,avg_price,median_price,total_listings,avg_min_nights,avg_reviews_per_month,num_expensive
0,Bronx,87.80,65.0,1077,3.2,1.49,45
1,Brooklyn,123.62,90.0,19842,4.9,1.06,2020
2,Manhattan,195.56,150.0,21238,6.7,0.99,5822
3,Queens,97.25,75.0,5611,4.4,1.58,318
4,Staten Island,115.35,75.0,369,3.6,1.59,25

In [ ]:
# Group by both neighbourhood_group and room_type
summary_combined = df.groupby(['neighbourhood_group', 'room_type']).agg(
    avg_price=('price', 'mean'),                 # Average price
    median_price=('price', 'median'),            # Median price
    total_listings=('id', 'count'),              # Total listings
    avg_min_nights=('minimum_nights', 'mean'),   # Average minimum nights
    avg_reviews_per_month=('reviews_per_month', 'mean'), # Average review frequency
    num_expensive=('is_expensive', 'sum')        # Number of expensive listings
).reset_index()

# Round numeric columns for readability
summary_combined = summary_combined.round({
    'avg_price': 2,
    'median_price': 2,
    'avg_min_nights': 1,
    'avg_reviews_per_month': 2
})

# Show the combined summary
summary_combined

,neighbourhood_group,room_type,avg_price,median_price,total_listings,avg_min_nights,avg_reviews_per_month,num_expensive
0,Bronx,Entire home/apt,128.89,100.0,369,3.5,1.87,36
1,Bronx,Private room,66.94,54.0,649,3.2,1.32,8
2,Bronx,Shared room,60.39,40.0,59,1.9,0.99,1
3,Brooklyn,Entire home/apt,177.79,146.0,9408,5.1,1.14,1876
4,Brooklyn,Private room,75.75,65.0,10026,4.6,1.00,138
5,Brooklyn,Shared room,50.75,36.0,408,7.3,0.76,6
6,Manhattan,Entire home/apt,249.16,195.0,12874,8.4,0.87,5291
7,Manhattan,Private room,114.47,90.0,7893,4.3,1.16,504
8,Manhattan,Shared room,89.38,69.0,471,3.3,1.35,27
9,Queens,Entire home/apt,146.17,120.0,2078,4.3,1.65,279
10,Queens,Private room,68.39,60.0,3339,4.5,1.56,34
11,Queens,Shared room,69.85,38.0,194,3.4,1.19,5
12,Staten Island,Entire home/apt,174.98,101.5,174,4.0,1.79,23
13,Staten Island,Private room,62.37,50.0,186,3.3,1.45,2
14,Staten Island,Shared room,57.44,30.0,9,2.3,0.74,0

## most expensive listings per room type

In [305]:
summary_combined.sort_values('avg_price', ascending=False).head(10)

,neighbourhood_group,room_type,avg_price,median_price,total_listings,avg_min_nights,avg_reviews_per_month,num_expensive
6,Manhattan,Entire home/apt,249.16,195.0,12874,8.4,0.87,5291
3,Brooklyn,Entire home/apt,177.79,146.0,9408,5.1,1.14,1876
12,Staten Island,Entire home/apt,174.98,101.5,174,4.0,1.79,23
9,Queens,Entire home/apt,146.17,120.0,2078,4.3,1.65,279
0,Bronx,Entire home/apt,128.89,100.0,369,3.5,1.87,36
7,Manhattan,Private room,114.47,90.0,7893,4.3,1.16,504
8,Manhattan,Shared room,89.38,69.0,471,3.3,1.35,27
4,Brooklyn,Private room,75.75,65.0,10026,4.6,1.00,138
11,Queens,Shared room,69.85,38.0,194,3.4,1.19,5
10,Queens,Private room,68.39,60.0,3339,4.5,1.56,34

## most popular by average reviews

In [306]:
summary_combined.sort_values('avg_reviews_per_month', ascending=False).head(10)

,neighbourhood_group,room_type,avg_price,median_price,total_listings,avg_min_nights,avg_reviews_per_month,num_expensive
0,Bronx,Entire home/apt,128.89,100.0,369,3.5,1.87,36
12,Staten Island,Entire home/apt,174.98,101.5,174,4.0,1.79,23
9,Queens,Entire home/apt,146.17,120.0,2078,4.3,1.65,279
10,Queens,Private room,68.39,60.0,3339,4.5,1.56,34
13,Staten Island,Private room,62.37,50.0,186,3.3,1.45,2
8,Manhattan,Shared room,89.38,69.0,471,3.3,1.35,27
1,Bronx,Private room,66.94,54.0,649,3.2,1.32,8
11,Queens,Shared room,69.85,38.0,194,3.4,1.19,5
7,Manhattan,Private room,114.47,90.0,7893,4.3,1.16,504
3,Brooklyn,Entire home/apt,177.79,146.0,9408,5.1,1.14,1876

## E. Validating

Create at least 3 validation checks
- Price must be positive.
- Host ID should not be null.
- Minimum nights must be ≥ 1.
- Generate a validation report:
- Count of rows violating each rule.

Decide if invalid rows (if any) should be removed or corrected?

In [ ]:
# validation rules
validation_rules = {
    'price_positive': df['price'] > 0,
    'host_id_not_null': df['host_id'].notna(),
    'minimum_nights_valid': df['minimum_nights'] >= 1
}

# count violations per rule
validation_report = {rule: (~condition).sum() for rule, condition in validation_rules.items()}

# convert to df
validation_report_df = pd.DataFrame.from_dict(validation_report, orient='index', columns=['num_violations'])
validation_report_df

                      num_violations
price_positive                     0
host_id_not_null                   0
minimum_nights_valid               0

## F. Publishing

Select final columns for publication.

In [ ]:
final_columns = [
    'id', 'name', 'host_id', 'host_name',
    'neighbourhood_group', 'neighbourhood',
    'latitude', 'longitude', 'room_type',
    'price', 'minimum_nights', 'number_of_reviews',
    'reviews_per_month', 'availability_365',
    'price_per_minimum_night', 'review_rate_per_month',
    'is_expensive', 'min_nights_outlier', 'last_review_missing'
]

df_final = df[final_columns]

df_final.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,price_per_minimum_night,review_rate_per_month,is_expensive,min_nights_outlier,last_review_missing
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,365,149.000000,0.21,0,0,0
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,355,225.000000,0.38,1,0,0
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,365,50.000000,0.00,0,0,1
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,194,89.000000,4.64,0,0,0
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,0,8.000000,0.10,0,0,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,0.59,129,66.666667,0.59,0,0,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,3.47,220,39.500000,3.47,0,0,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,0.99,0,39.500000,0.99,0,0,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,1.33,188,150.000000,1.33,0,0,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,0.43,6,27.000000,0.43,0,0,0

Export cleaned dataset as "cleaned_airbnb.csv"

In [ ]:
df_final.to_csv('cleaned_airbnb.csv', index=False)

Export summary reports (e.g., validation or aggregations) as CSV.

In [ ]:
validation_report_df.to_csv('validation_report.csv', index=True)
summary.to_csv('summary_by_borough.csv', index=False)
summary_combined.to_csv('summary_by_neighborhood_roomtype.csv', index=False)